[all]
master ansible_host=${master_ip}
%{ for ip in worker_ips ~}
worker${index(worker_ips, ip)} ansible_host=${ip}
%{ endfor ~}

[all:vars]
host_key_checking=false
ansible_user=${user}

[masters]
master

[workers]
%{ for ip in worker_ips ~}
worker${index(worker_ips, ip)}
%{ endfor ~}

[nfss]
master