[all:vars]
ansible_user=${user}

[masters]
master ansible_host=${master_ip}

[workers]
%{ for ip in worker_ips ~}
worker${index(worker_ips, ip)} ansible_host=${ip}
%{ endfor ~}

[nfss]
nfs ansible_host=${mfs_ip}