# master
{% for master in groups['masters'] %}
/srv/nfs    {{ hostvars[master].ansible_default_ipv4.address }}(rw,sync)
{% endfor %}

# workers
{% for worker in groups['workers'] %}
/srv/nfs    {{ hostvars[worker].ansible_default_ipv4.address }}(rw,sync)
{% endfor %}