# master
{% for master in groups['masters'] %}
/srv/nfs    10.0.1.10(rw,sync)
{% endfor %}

# workers
{% for worker in groups['workers'] %}
/srv/nfs    10.0.1.{{ 11 + loop.index0 }}(rw,sync)
{% endfor %}